header {
	color: red;
	text-align: center;
	font-size: 36px;
	font-family: Arial, Helvetica, sans-serif;
}

.team {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-image: linear-gradient(pink, white, rgb(252, 199, 101));
}

body {
	color: black;
	text-align: justified;
    background-image: linear-gradient(pink, rgb(252, 199, 101));
	box-sizing: border-box;
	width: 80%;
	min-width: 600px;
	max-width: 1800px;
	margin: 0 auto;
	border: 2px solid black ;
	font-family:Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-image: linear-gradient(pink, rgb(252, 199, 101));
  color: black;
}

.topnav a.active {
  background-image: linear-gradient(pink, rgb(252, 199, 101));
  color: black;
}

h1 {
 color: black;
 font-size:40px;
 }
h2 {
 color:black;
 font-size:18px;
 }

.float-img {
  width:400px;
  text-align:left;
  display:inline-block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
}

table {
  font-family: arial;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid grey;
  text-align: centre;
  padding: 8px;
}

#ResourcesAndTools {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#ResourcesAndTools td, #ResourcesAndTools th {
  border: 1px solid #ddd;
  padding: 8px;
}

#ResourcesAndTools tr:nth-child(even){background-color: #f2f2f2;}

#ResourcesAndTools tr:nth-child(odd){background-color: #ffffffb9;}

#ResourcesAndTools th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #cc1940;
  color: rgb(255, 255, 255);
}